/* Background */
.forgot-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(to bottom right, #f5f5f5, #ececec),
    repeating-linear-gradient(
      45deg,
      #fafafa,
      #fafafa 40px,
      #f0f0f0 40px,
      #f0f0f0 80px
    );
}

/* Card */
.forgot-card {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* Logo */
.forgot-logo img {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  margin-bottom: 10px;
  object-fit: cover;
}

/* Title */
.forgot-card h2 {
  color: #111 !important; /* Ép màu chữ */
  opacity: 1 !important; /* Bỏ mờ */
  visibility: visible;
  display: block;

  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

/* Input */
.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.2s;
}

.input-group input:focus {
  outline: none;
  border-color: #222;
}

/* Icon */
.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #888;
}

/* Error */
.error-text {
  color: #d32f2f;
  font-size: 13px;
  text-align: left;
  margin-bottom: 10px;
}

/* Button */
.send-btn {
  width: 100%;
  padding: 12px;
  background: #111;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: #000;
}

.send-btn:disabled {
  background: #999;
  cursor: not-allowed;
}

/* Footer */
.forgot-footer {
  width: 100%;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.back-login {
  font-size: 14px;
  color: #777;
  cursor: pointer;
}

.back-login:hover {
  color: #000;
}

/* Copyright */
.copyright {
  margin-top: 25px;
  font-size: 12px;
  color: #888;
}
